<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Nová objednávka</title>
</head>
<body>
<div th:replace="header">header</div>
<header id="header" class="header"></header>
<div class="card-header">
    <h3>Nová objednávka</h3>
</div>
<div class="card-body">
    <form method="post" id="myForm" action="/postOrder" th:action="@{/orders/postOrder}">
        <input type="hidden" th:field="${user.address.streetNameHouseNum}">
        <input type="hidden" th:field="${user.address.city}">
        <input type="hidden" th:field="${user.address.postalCode}">
        <input type="hidden" th:field="${user.name}">
        <input type="hidden" th:field="${user.surname}">
        <input type="hidden" th:field="${user.username}">
        <input type="hidden" th:field="${user.password}">
        <input type="hidden" th:field="${user.email}">
        <input type="hidden" th:field="${user.phoneNumber}">
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Jméno: </span>
            </div>
            <span class="form-control col-sm-2" th:text="${user.name}"></span>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Příjmení: </span>
            </div>
            <span class="form-control col-sm-2" th:text="${user.surname}"></span>
        </div>
        Doručovací adresa:<br>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ulice a č.p.:</span>
            </div>
            <input class="col-sm-2" type="text" th:required="required" th:field="${address.streetNameHouseNum}"
                   placeholder="streetName">
            <div th:if="${#fields.hasErrors('address.streetNameHouseNum')}" th:errors="${address.streetNameHouseNum}"
                 class="alert alert-warning" role="alert">
                Chyba!
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Město:</span>
            </div>
            <input type="text" class="col-sm-2" th:required="required" th:field="${address.city}" placeholder="city">
            <div th:if="${#fields.hasErrors('address.city')}" th:errors="${address.city}" class="alert alert-warning"
                 role="alert">
                Chyba!
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">PSČ:</span>
            </div>
            <input type="text" class="col-sm-2" th:required="required" th:field="${address.postalCode}"
                   placeholder="postalCode">
            <div th:if="${#fields.hasErrors('address.postalCode')}" th:errors="${address.postalCode}"
                 class="alert alert-warning" role="alert">
                Chyba!
            </div>
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">E-mail:</span>
            </div>
            <span class="form-control col-sm-2" th:text="${user.email}"></span>
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Telefon:</span>
            </div>
            <span class="form-control col-sm-2" th:text="${user.phoneNumber}"></span>
        </div>
        <!--  Tady nejak nastavit volbu Firma? pokud zaskrtnuto, tak se zobrazi policka pro ICO a DIC, jinak budou skryta  -->
        <div class="checkbox">
            <label><input type="checkbox" id="chkFirma">Firma?</label>
        </div>
        <div id="firmaDiv">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">IČO:</span>
                </div>
                <input type="number" class="form-control col-sm-2" th:field="${user.ico}" placeholder="ico">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">DIČ:</span>
                </div>
                <input type="text" class="form-control col-sm-2" th:field="${user.dic}" placeholder="dic">
            </div>
        </div>
        <div class="form-group">
            <button class="col-sm-2 btn btn-lg btn-primary btn-block" type="submit">Pokračovat ke shrnutí</button>
        </div>
    </form>
</div>
<div class="card-footer">
</div>
<div th:replace="footer"></div>

<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
<script>
    var form = $('#myForm'),
        checkbox = $('#chkFirma'),
        chFirmaBlock = $('#firmaDiv');

    chFirmaBlock.hide();

    checkbox.on('click', function () {
        if ($(this).is(':checked')) {
            chFirmaBlock.show();
            chFirmaBlock.find('input').attr('required', true);
        } else {
            chFirmaBlock.hide();
            chFirmaBlock.find('input').attr('required', false);
        }
    });
</script>
</body>
</html>