<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title th:text="|Detail objednávky ${order.uuid}|">DETAIL OF ITEM </title>
</head>
<body>
<div th:replace="header">header</div>
<header id="header" class="header"></header>
<div class="container-fluid">
    <div class="row">
        <label class="col-sm-1">Jméno:</label>
        <div class="col-sm-2">
            <span th:text="${order.user.name}"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-1">Příjmení:</label>
        <div class="col-sm-2">
            <span th:text="${order.user.surname}"></span>
        </div>
    </div>
    <div class="row" th:if="${order.user.ico !=0}">
        <label class="col-sm-1">IČO:</label>
        <div class="col-sm-2">
            <span th:text="${order.user.ico}"></span>
        </div>
    </div>
    <div class="row" th:if="${order.user.dic !=null}">
        <label class="col-sm-1">DIČ:</label>
        <div class="col-sm-2">
            <span th:text="${order.user.dic}"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-1">Ulice a č.p.:</label>
        <div class="col-sm-2">
            <span th:text="${order.address.streetNameHouseNum}"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-1">Město:</label>
        <div class="col-sm-2">
            <span th:text="${order.address.city}"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-1">PSČ:</label>
        <div class="col-sm-2">
            <span th:text="${order.address.postalCode}"></span>
        </div>
    </div>
</div>


<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>Produkt</th>
        <th>ID</th>
        <th>Šířka</th>
        <th>Výška</th>
        <th>Hloubka</th>
        <th>Váha</th>
        <th>Materiál</th>
        <th>Tvar</th>
        <th>Počet</th>
        <th>Cena ks s DPH</th>
        <th>Cena celkem s DPH</th>
        <th>Recenze</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${lstOrderDetail}">
        <td th:text="${x.productDetail.product.name}">Produkt</td>
        <td th:text="${x.productDetail.id}">ID</td>
        <td th:text="${x.productDetail.width}">sirka</td>
        <td th:text="${x.productDetail.height}">vyska</td>
        <td th:text="${x.productDetail.depth}">hloubka</td>
        <td th:text="${x.productDetail.weight}">vaha</td>
        <td th:text="${x.productDetail.material.name}">material</td>
        <td th:text="${x.productDetail.shape.name}">tvar</td>
        <td th:text="${x.quantity}">objednany pocet</td>
        <td th:text="${x.productDetail.unitPrice}">cena ks</td>
        <td th:with="result=${x.quantity * x.productDetail.unitPrice}" th:text="${result}">cena celkem</td>
        <td><a class="btn btn-primary" href="/orders/addReview" th:href="@{/orders/addReview(id=${x.productDetail.product.id})}"
                      role="button">Zrecenzovat</a></td>
    </tr>
    </tbody>
</table>

<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>