<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Správa objednávek</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="header">header</div>
<header id="header" class="header">
</header>

<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>UUID</th>
        <th>Datum objednání</th>
        <th>Zaplaceno</th>
        <th>Odesláno</th>
        <th>Datum odeslání</th>
        <th>Cena s DPH</th>
        <th>DPH</th>
        <th>Zrušeno</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${orders}">
        <td th:text="${x.uuid}">ID</td>
        <td th:text="${x.orderDate}">datum objednani</td>
        <td><input type="checkbox" th:checked="${x.paid}" onclick="return false"></td>
        <td><input type="checkbox" th:checked="${x.fulfilled}" onclick="return false"></td>
        <td th:text="${x.shipDate}">datum odeslani</td>
        <td th:text="${x.totalPrice}">cena s DPH</td>
        <td th:text="${x.totalTax}">DPH</td>
        <td><input type="checkbox" th:checked="${x.cancelled}" onclick="return false"></td>
        <td><a class="btn btn-primary" href="orders/detail" th:href="@{orders/detail(id=${x.id})}"
               role="button">Detail</a></td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<ul class="pagination">
    <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
        th:each="i: ${#numbers.sequence(1, pages)}"><a
            th:href="@{orders/index(size=${5}, page=${i})}"
            th:text="${i}" th:class="page-link"></a></li>
</ul>
<div th:replace="footer"></div>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>