<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/fontawesome-all.css" rel="stylesheet">
        <link href="/static/css/swiper.css" rel="stylesheet">
        <link href="/static/css/magnific-popup.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link rel="icon" href="/img/favicon.png">
        <meta charset="UTF-8">
        <title>Souhrn</title>
    </head>
<body>
<div th:replace="header">header</div>
<header id="header" class="header"></header>
<h1>Souhrn objednávky</h1>
<div>
    <h2>Fakturační údaje</h2>
    <span th:text="|${user.name} ${user.surname}|">name</span><br>
    <span th:text="${user.address.streetNameHouseNum}">streetname</span><br>
    <span th:text="${user.address.city}">city</span><br>
    <span th:text="${user.address.postalCode}">postalcode</span><br>
    <span th:if="${user.ico !=0}" th:text="${user.ico}">ico</span><br>
    <span th:if="${user.dic != null}" th:text="${user.dic}">dic</span><br>
    <span th:text="${user.phoneNumber}">phonenum</span>

    <h2>Objednávané položky</h2>
    <table class=" table table-bordered table-hover">
        <thead>
        <tr>
            <th>Položka</th>
            <th>Počet</th>
            <th>Cena ks</th>
            <th>Cena celkem</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${cart.cartProducts}">
            <td th:text="${x.productDetail.product.name}">polozka</td>
            <td th:text="${x.quantity}">pocet</td>
            <td th:text="${x.productDetail.unitPrice}">cenaks</td>
            <td th:with="result=${x.quantity * x.productDetail.unitPrice}" th:text="${result}">cena celkem</td>
        </tr>
        </tbody>
    </table>


</div>
<form action="/orders/finishOrder" th:action="@{finishOrder}" method="POST" th:object="${user}">
    <input type="hidden" th:field="${user.name}">
    <input type="hidden" th:field="${user.surname}">
    <input type="hidden" th:field="${user.email}">
    <input type="hidden" th:field="${user.phoneNumber}">
    <input type="hidden" th:field="${user.ico}">
    <input type="hidden" th:field="${user.dic}">
    <input type="hidden" th:field="${user.address.streetNameHouseNum}">
    <input type="hidden" th:field="${user.address.city}">
    <input type="hidden" th:field="${user.address.postalCode}">
    <button type="submit" class="btn btn-primary">Dokončit objednávku</button>
</form>

<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>