<!-- Footer -->
<div class="footer">
    Doprava, GDPR, Smluvní podmínky...
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="col-lg-12">
        <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Template by Inovatik</a></p>
    </div> <!-- end of col -->
</div> <!-- end of copyright -->
<!-- end of copyright -->