<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <a class="navbar-brand logo-text page-scroll" href="index.html" th:href="@{/admin/}">
        Woodcami
    </a>
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-5">
            <li class="nav-item"><a class="nav-link page-scroll" th:href="@{/admin/}">Home</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" th:href="@{/}">Pohled uživatele</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" th:href="@{/admin/products/}">Produkty</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" th:href="@{/admin/orders/}">Objednávky</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" th:href="@{/admin/users/}">Uživatelé</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link page-scroll" href="user/index.html" th:href="@{/user/index}"><span
                    th:text="|${#authentication.getPrincipal().getName()} ${#authentication.getPrincipal().getSurname()}|">Účet</span></a>
            </li>
            <li class="nav-item"><a class="nav-link page-scroll" href="logout.html"
                                    th:href="@{/logout}">Odhlásit</a></li>

        </ul>
    </div>
</nav>