<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="admin/header">header</div>
<header id="header" class="header"></header>
<table class=" table table-bordered table-hover">
    <thead>
    <h2>Kategorie</h2>
    <a class="btn btn-primary" href="/Admin/products/properties/createCategory"
       th:href="@{/admin/products/properties/createCategory(id=0)}">Přidat
        kategorii</a>
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${categories}">
        <td th:text="${x.id}">ID</td>
        <td th:text="${x.name}">nazev</td>
        <td>
            <a class="btn btn-primary" href="/Admin/products/properties/editMaterial"
               th:href="@{/admin/products/properties/createCategory(id=${x.id})}" role="button">Upravit</a>
            <a class="btn btn-danger" th:text="Smazat"
               th:href="@{/admin/products/properties/deleteCategory(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat materiál '+${x.name+'?'} + '\');'">
                Delete
            </a>
        </td>

    </tr>
    </tbody>
</table>
<table class=" table table-bordered table-hover">
    <thead>
    <h2>Materiály</h2>
    <a class="btn-primary btn" href="/Admin/products/properties/createMaterial"
       th:href="@{/admin/products/properties/createMaterial(id=0)}">Přidat
        materiál</a>
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${materials}">
        <td th:text="${x.id}">ID</td>
        <td th:text="${x.name}">nazev</td>
        <td>
            <a class="btn btn-primary" href="/Admin/products/properties/editMaterial"
               th:href="@{/admin/products/properties/createMaterial(id=${x.id})}" role="button">Upravit</a>
            <a class="btn btn-danger" th:text="Smazat"
               th:href="@{/admin/products/properties/deleteMaterial(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat materiál '+${x.name+'?'} + '\');'">
                Delete
            </a>
        </td>

    </tr>
    </tbody>
</table>
<table class=" table table-bordered table-hover">
    <thead>
    <h2>Tvary</h2>
    <a class="btn btn-primary" href="/Admin/products/properties/createShape"
       th:href="@{/admin/products/properties/createShape(id=0)}">Přidat
        tvar</a>
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${shapes}">
        <td th:text="${x.id}">ID</td>
        <td th:text="${x.name}">nazev</td>
        <td>
            <a class="btn btn-primary" href="/Admin/products/properties/editMaterial"
               th:href="@{/admin/products/properties/createShape(id=${x.id})}" role="button">Upravit</a>
            <a class="btn btn-danger" th:text="Smazat"
               th:href="@{/admin/products/properties/deleteShape(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat tvar '+${x.name+'?'} + '\');'">
                Delete
            </a>
        </td>

    </tr>
    </tbody>
</table>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>