<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<div th:replace="header"></div>

<!-- Header -->
<header id="header" class="header">
</header> <!-- end of header -->

<!-- Page Content -->
<div class="container">
    <!-- Hlasky -->
    <div th:if="${param.cart_success != null}" class="alert alert-success" role="alert">
        Zboží přidáno do košíku.
    </div>
    <div th:if="${param.error_not_enough_stock != null}" class="alert alert-danger" role="alert">
        Nelze objednat více než je skladem!
    </div>
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group" id="checkbox-container">
                <ul>
                    <li><a th:href="@{/products}">Všechny produkty</a></li>
                </ul>
                Kategorie:
                <ul>
                    <li th:each="c:${categories}">
                        <a th:href="@{/products(catId=${c.id})}" th:value="${c.id}"
                           th:text="${c.name}">kategorie</a>
                    </li>
                </ul>
                Material:
                <ul>
                    <li th:each="m:${materials}">
                        <a th:href="@{/products(matId=${m.id})}" th:value="${m.id}"
                           th:text="${m.name}">kategorie</a>
                    </li>
                </ul>
                Tvar:
                <ul>
                    <li th:each="s:${shapes}">
                        <a th:href="@{/products(shaId=${s.id})}" th:value="${s.id}"
                           th:text="${s.name}">kategorie</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="row">
                <div><h1 th:text="${product.name}"></h1></div>
                <div class="col-xs-6 ml-sm-4">
                    <a th:href="@{/products/reviews(id=${product.id})}"><b th:text="${score}">Skóre</b></a>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Star_full.svg"
                         width="15px" height="15px"  />
                </div>
            </div>

            <div><p th:text="${product.description}"></p></div>
            <div class="row">
                <div class="col-xs-6 ml-sm-4">
                    <div><b>Materiály</b><br/><ul><li th:each="mats: ${product.availableMaterials}" th:text="${mats.name}"></li></ul></div>
                    <div><b>Tvary</b><br/><ul><li th:each="shapes: ${product.availableShapes}" th:text="${shapes.name}"></li></ul></div>
                </div>
                <div class="col-xs-6 ml-sm-4"><img class="h-75 w-100"
                                            th:src="${product.photo}"
                                            alt="" /></div>
            </div>

           <div class="mt-3"><h2>Varianty:</h2></div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Materiál</th>
                    <th scope="col">Tvar</th>
                    <th scope="col">Hloubka</th>
                    <th scope="col">Šířka</td>
                    <th scope="col">Výška</td>
                    <th scope="col">Cena</td>
                    <th scope="col">Sklad</td>
                    <th scope="col"> </th></td>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="detail: ${details}">
                    <td>
                        <i  th:text="${detail.material.name}"></i>
                    </td>
                    <td>
                        <i  th:text="${detail.shape.name}"></i>
                    </td>
                    <td>
                        <i  th:text="${detail.depth}"></i>
                    </td>
                    <td>
                        <i  th:text="${detail.width}"></i>
                    </td>
                    <td>
                        <i  th:text="${detail.height}"></i>
                    </td>
                    <td>
                        <i  th:text="${detail.unitPrice}"></i>
                    </td>
                    <td>
                        <i  th:text="${detail.unitsInStock}"></i>
                    </td>
                    <td>
                        <form action="/cart/addToCart" th:action="@{/cart/addToCart}" method="post">
                            <input th:type="hidden" th:name="productDetailId" th:value="${detail.id}">
                            <input class="w-25" th:type="number" th:name="quantity" th:value="1" th:max="${detail.unitsInStock}">
                            <input th:type="submit" th:value="Koupit"  />
                        </form>
                    </td>
                </tr>
                <tr scope="row">
                    <td></td><td></td>
                    <td th:colspan="4">
                        <form action="/make" th:action="@{/make}" method="get">
                            <input th:type="hidden" th:name="productName" th:value="${product.name}">
                            <button id="btn" th:type="submit">Upravit v zakázkové výrobě</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- added footer.html -->
<div th:replace="footer"></div>

<!-- Scripts -->
<script src="js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/popper.min.js" th:src="@{/static/js/popper.min.js}"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
<script src="js/jquery.easing.min.js" th:src="@{/static/js/jquery.easing.min.js}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="js/swiper.min.js" th:src="@{/static/js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
<script src="js/jquery.magnific-popup.js" th:src="@{/static/js/jquery.magnific-popup.js}"></script> <!-- Magnific Popup for lightboxes -->
<script src="js/morphext.min.js" th:src="@{/static/js/morphext.min.js}"></script> <!-- Morphtext rotating text in the header -->
<script src="js/isotope.pkgd.min.js" th:src="@{/static/js/isotope.pkgd.min.js}"></script> <!-- Isotope for filter -->
<script src="js/validator.min.js" th:src="@{/static/js/validator.min.js}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="js/scripts.js" th:src="@{/static/js/scripts.js}"></script> <!-- Custom scripts -->
</body>
</html>
