<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- added header.html -->
    <div th:replace="header"></div>

    <!-- Header -->
    <header id="header" class="header">
    </header> <!-- end of header -->

    <!-- Page Content -->
    <div class="container">
        <div th:if="${param.order_create_success != null}" class="alert alert-success" role="alert">
            Objednávka úspěšně vytvořena.
        </div>
        <div class="row">
            <div class="col-lg-3 my-4">
                <div class="list-group" id="checkbox-container">
                    <ul>
                        <li><a th:href="@{/products}">Všechny produkty</a></li>
                    </ul>
                    Kategorie:
                    <ul>
                        <li th:each="c:${categories}">
                            <a th:href="@{/products(catId=${c.id})}" th:value="${c.id}"
                               th:text="${c.name}">kategorie</a>
                        </li>
                    </ul>
                    Material:
                    <ul>
                        <li th:each="m:${materials}">
                            <a th:href="@{/products(matId=${m.id})}" th:value="${m.id}"
                               th:text="${m.name}">kategorie</a>
                        </li>
                    </ul>
                    Tvar:
                    <ul>
                        <li th:each="s:${shapes}">
                            <a th:href="@{/products(shaId=${s.id})}" th:value="${s.id}"
                               th:text="${s.name}">kategorie</a>
                        </li>
                    </ul>
                    </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${products}">
                        <div class="card h-100">
                            <a th:href="@{/products/detail(id=${product.id})}"><img class="card-img-top "
                                                                                         style="height: 80px;"
                                                                                         th:src="${product.photo}"
                                                                                         alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a th:href="@{/products/detail(id=${product.id})}" th:text="${product.name}"></a>
                                </h4>
                                <h5 th:text="${product.category.name}"></h5>
                                <p class="card-text" th:text="${product.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-9 -->

            <!-- Pagination Bar -->
            <nav aria-label="Pagination" th:if="${pages gt 1} ?: '' ">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage gt 1} ?: '' ">
                    <a class="page-item"th:href="@{/products(page=${currentPage}-1)}">«</a>
                    </li>
                    <li class="page-item" th:each="pg: ${#numbers.sequence(1,pages,1)}">
                        <a th:href="@{/products(page=${pg})}" th:text="${pg}"></a>
                    </li>
                    <li class="page-item" th:if="${currentPage lt pages} ?: '' ">
                        <a th:href="@{/products(page=${currentPage}+1)}">»</a>
                    </li>
                </ul>
            </nav>
            <!-- pagination -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- added footer.html -->
    <div th:replace="footer"></div>

    <!-- Scripts -->
    <script src="js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js" th:src="@{/static/js/popper.min.js}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js" th:src="@{/static/js/jquery.easing.min.js}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js" th:src="@{/static/js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js" th:src="@{/static/js/jquery.magnific-popup.js}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js" th:src="@{/static/js/morphext.min.js}"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/isotope.pkgd.min.js" th:src="@{/static/js/isotope.pkgd.min.js}"></script> <!-- Isotope for filter -->
    <script src="js/validator.min.js" th:src="@{/static/js/validator.min.js}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js" th:src="@{/static/js/scripts.js}"></script> <!-- Custom scripts -->
</body>
</html>