<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->

<div th:replace="header"></div>

<!-- Header -->
<header id="header" class="header">
</header> <!-- end of header -->


<b><a href="/products">zpět</a></b>


<h1 th:text="|Recenze produktu: ${product.name}|" >Recenze produktu</h1>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>Skóre</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r : ${reviews}">
        <td th:text="${r.score}">Skore</td>
        <td th:text="${r.text}">Text</td>
    </tr>
    </tbody>
</table>

<!-- Scripts -->
<script src="js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="js/popper.min.js" th:src="@{/static/js/popper.min.js}"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
<script src="js/jquery.easing.min.js" th:src="@{/static/js/jquery.easing.min.js}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="js/swiper.min.js" th:src="@{/static/js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
<script src="js/jquery.magnific-popup.js" th:src="@{/static/js/jquery.magnific-popup.js}"></script> <!-- Magnific Popup for lightboxes -->
<script src="js/morphext.min.js" th:src="@{/static/js/morphext.min.js}"></script> <!-- Morphtext rotating text in the header -->
<script src="js/isotope.pkgd.min.js" th:src="@{/static/js/isotope.pkgd.min.js}"></script> <!-- Isotope for filter -->
<script src="js/validator.min.js" th:src="@{/static/js/validator.min.js}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="js/scripts.js" th:src="@{/static/js/scripts.js}"></script> <!-- Custom scripts -->
</body>
</html>