<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title th:text="|Detail produktu ${product.name}|">DETAIL OF ITEM </title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="admin/header">header</div>
<header id="header" class="header"></header>
<div th:if="${param.delete_zero != null}" class="alert alert-success" role="alert">
    Počet na skladě nastaven na 0.
</div>
<div th:if="${param.delete_success != null}" class="alert alert-success" role="alert">
    Detail smazán.
</div>
<a class="btn btn-primary" href="/Admin/products/add.html"
   th:href="@{/admin/products/createDetail(id=0, prodId=${product.id})}">Přidat detail
    produktu</a>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Šířka</th>
        <th>Výška</th>
        <th>Hloubka</th>
        <th>Váha</th>
        <th>Materiál</th>
        <th>Tvar</th>
        <th>Dostupný počet</th>
        <th>Cena s DPH</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${productDetail}">
        <td th:text="${x.id}">ID</td>
        <td th:text="${x.width}">sirka</td>
        <td th:text="${x.height}">vyska</td>
        <td th:text="${x.depth}">hloubka</td>
        <td th:text="${x.weight}">vaha</td>
        <td th:text="${x.material.name}">material</td>
        <td th:text="${x.shape.name}">tvar</td>
        <td th:text="${x.unitsInStock}">dostupny pocet</td>
        <td th:text="${x.unitPrice}">cena</td>
        <td>
            <a class="btn btn-primary" href="/Admin/products/createDetail"
               th:href="@{/admin/products/createDetail(id=${x.id}, prodId=${x.product.id})}" role="button">Upravit</a>
            <a class="btn btn-danger" th:text="Smazat"
               th:href="@{/admin/products/deleteDetail(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat položku produktu '+${x.product.name+'?'} + '\');'">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>