<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Úprava produktu</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="admin/header">header</div>
<header id="header" class="header"></header>
<h1>Úprava produktu</h1>
<form action="/Admin/products/editProduct" th:action="@{/admin/products/editProduct}" method="POST">
    <div class="form-group row">
        <div class="col-sm-1">Název:</div>
        <div class="col-sm-4">
            <input type="hidden" th:field="${product.id}">
            <input type="text" th:required="required" th:field="${product.name}">
            <div th:if="${#fields.hasErrors('product.name')}" th:errors="${product.name}" class="alert alert-warning"
                 role="alert">
                Chyba!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">Popis:</div>
        <div class="col-sm-2">
            <textarea th:required="required" th:field="${product.description}" rows="4" cols="50"></textarea>
            <div th:if="${#fields.hasErrors('product.description')}" th:errors="${product.description}"
                 class="alert alert-warning" role="alert">
                Chyba!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">Kategorie:</div>
        <div class="col-sm-2">
            <select class="form-control" th:name="categoryId">
                <option th:each="x:${categories}" th:value="${x.id}" th:selected="${product.category.id==x.id}"
                        th:text="${x.name}"></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Uložit</button>
        </div>
    </div>
</form>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>