<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Správa produktů</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="admin/header">header</div>
<header id="header" class="header">
</header>
<div th:if="${param.delete_zero != null}" class="alert alert-success" role="alert">
    Počet na skladě nastaven na 0.
</div>
<div th:if="${param.delete_success != null}" class="alert alert-success" role="alert">
    Produkt smazán.
</div>
<a class="btn btn-primary" href="/Admin/products/properties/index.html" th:href="@{/admin/products/properties}">Správa
    vlastností
    produktu</a>
<a class="btn btn-primary" href="/Admin/products/add.html" th:href="@{/admin/products/createProduct}">Přidat produkt</a>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Název</th>
        <th>Kategorie</th>
        <th>Detail</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${products}">
        <td th:text="${x.id}">ID</td>
        <td th:text="${x.name}">nazev</td>
        <td th:text="${x.category.name}">kategorie</td>
        <td>
            <a class="btn btn-primary" href="/Admin/products/detail" th:href="@{/admin/products/detail(id=${x.id})}"
               role="button">Detail</a>
        </td>
        <td>
            <a class="btn btn-primary" href="/Admin/products/editProduct"
               th:href="@{/admin/products/editProduct(id=${x.id})}" role="button">Upravit</a>
            <a class="btn btn-danger" th:text="Smazat"
               th:href="@{/admin/products/delete(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat produkt '+${x.name+'?'} + '\');'">
                Delete
            </a>
        </td>

    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<ul class="pagination">
    <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
        th:each="i: ${#numbers.sequence(1, pages)}"><a
            th:href="@{/admin/products/index(size=${5}, page=${i})}"
            th:text="${i}" th:class="page-link"></a></li>
</ul>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>