<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Správa uživatele</title>
</head>
<body>
<div th:replace="header">header</div>
<header id="header" class="header">
</header>
<div th:if="${param.user_change_success != null}" class="alert alert-success" role="alert">
    Údaje byly změněny.
</div>
<div>
    <a class="btn btn-primary" href="/user/changePswd.html" th:href="@{/user/changePswd}">Změna hesla</a>
    <a class="btn btn-primary" href="/user/orders/index.html" th:href="@{/orders}">Objednávky</a>
</div>

<form method="post" id="myForm" action="/editUser" th:action="@{/user/editUser}">
    <input type="hidden" th:field="${user.username}">
    <input type="hidden" th:field="${user.password}">
    <input type="hidden" th:field="${user.id}">
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Jméno:</span>
        </div>
        <input type="text" class="form-control" placeholder="name" th:required="required" th:field="${user.name}">
        <div th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" class="alert alert-warning"
             role="alert">
            Chyba!
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Příjmení:</span>
        </div>
        <input type="text" class="form-control" placeholder="surname" th:required="required"
               th:field="${user.surname}">
        <div th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" class="alert alert-warning"
             role="alert">
            Chyba!
        </div>
    </div>
    Adresa:<br>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ulice a č.p.:</span>
        </div>
        <input class="col-sm-2" type="text" th:required="required" th:field="${user.address.streetNameHouseNum}"
               placeholder="streetName">
        <div th:if="${#fields.hasErrors('user.address.streetNameHouseNum')}"
             th:errors="${user.address.streetNameHouseNum}"
             class="alert alert-warning" role="alert">
            Chyba!
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Město:</span>
        </div>
        <input type="text" class="col-sm-2" th:required="required" th:field="${user.address.city}" placeholder="city">
        <div th:if="${#fields.hasErrors('user.address.city')}" th:errors="${user.address.city}"
             class="alert alert-warning"
             role="alert">
            Chyba!
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">PSČ:</span>
        </div>
        <input type="text" class="col-sm-2" th:required="required" th:field="${user.address.postalCode}"
               placeholder="postalCode">
        <div th:if="${#fields.hasErrors('user.address.postalCode')}" th:errors="${user.address.postalCode}"
             class="alert alert-warning" role="alert">
            Chyba!
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">E-Mail:</span>
        </div>
        <input type="text" th:required="required" th:field="${user.email}" placeholder="email">
        <div th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" class="alert alert-warning"
             role="alert">
            Chyba!
        </div>

    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Telefon:</span>
        </div>
        <input type="text" th:required="required" th:field="${user.phoneNumber}" placeholder="phoneNumber">
        <div th:if="${#fields.hasErrors('user.phoneNumber')}" th:errors="${user.phoneNumber}"
             class="alert alert-warning"
             role="alert">
            Chyba!
        </div>
    </div>


    <div class="checkbox">
        <label><input type="checkbox" id="chkFirma">Firma?</label>
    </div>
    <div id="firmaDiv">
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">IČO:</span>
            </div>
            <input type="number" class="form-control col-sm-2" th:field="${user.ico}" placeholder="ico">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DIČ:</span>
            </div>
            <input type="text" class="form-control col-sm-2" th:field="${user.dic}" placeholder="dic">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Uložit změny</button>
    </div>
</form>


<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
<script>
    var form = $('#myForm'),
        checkbox = $('#chkFirma'),
        chFirmaBlock = $('#firmaDiv');

    chFirmaBlock.hide();

    checkbox.on('click', function () {
        if ($(this).is(':checked')) {
            chFirmaBlock.show();
            chFirmaBlock.find('input').attr('required', true);
        } else {
            chFirmaBlock.hide();
            chFirmaBlock.find('input').attr('required', false);
        }
    });
</script>
</body>
</html>