<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Správa uživatelů</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="admin/header">header</div>
<header id="header" class="header">
</header>
<div th:if="${param.user_deactivate_success != null}" class="alert alert-success" role="alert">
    Uživatel byl deaktivován.
</div>
<div th:if="${param.user_update_success != null}" class="alert alert-success" role="alert">
    Heslo úspěšně změněno.
</div>
<form id="searchForm" method="post" th:action="@{/admin/users/}">
    <div>
        <input type="text" name="searchText" id="searchText" placeholder="Příjmení nebo uživ. jméno">
        <button class="btn btn-primary" type="submit" name="submit">Hledat</button>
    </div>
</form>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>Příjmení</th>
        <th>Jméno</th>
        <th>Uživ. jméno</th>
        <th>Ulice</th>
        <th>Město</th>
        <th>Aktivní</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${users}">
        <td th:text="${x.surname}">prijmeni</td>
        <td th:text="${x.name}">jmeno</td>
        <td th:text="${x.username}">username</td>
        <td th:text="${x.address.streetNameHouseNum}">ulice</td>
        <td th:text="${x.address.city}">mesto</td>
        <td><input type="checkbox" th:checked="${x.enabled}" onclick="return false"></td>
        <td>
            <a class="btn btn-primary" href="/Admin/users/changePswd" th:href="@{/admin/users/changePswd(id=${x.id})}"
               role="button">Změna hesla</a>
            <a class="btn btn-danger" th:text="Zrušit" th:if="${x.enabled}"
               th:href="@{/admin/users/deactivateUser(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete deaktivovat uživatele '+${x.username+'?'} + '\');'">Zrušit</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<ul class="pagination">
    <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
        th:each="i: ${#numbers.sequence(1, pages)}"><a
            th:href="@{/admin/users/index(size=${5}, page=${i})}"
            th:text="${i}" th:class="page-link"></a></li>
</ul>

<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->

</body>
</html>