<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Košík</title>
</head>
<body>
<div th:replace="header">header</div>
<header id="header" class="header"></header>
<div th:if="${param.remove_success != null}" class="alert alert-success" role="alert">
    Zboží odebráno z košíku.
</div>
<a href="/index">zpět</a>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>Položka</th>
        <th>Počet</th>
        <th>Cena ks</th>
        <th>Cena celkem</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${cart.cartProducts}">
        <td th:text="${x.productDetail.product.name}">polozka</td>
        <td th:text="${x.quantity}">pocet</td>
        <td th:text="${x.productDetail.unitPrice}">cenaks</td>
        <td th:with="result=${x.quantity * x.productDetail.unitPrice}" th:text="${result}">cena celkem</td>
        <td>
            <a class="btn btn-danger" th:text="Smazat"
               th:href="@{/cart/removeFromCart(cartProductDetailId=${x.productDetail.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat ?\');'">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:if="${not #lists.isEmpty(cart.cartProducts)}" class="btn btn-primary" th:text="Objednat"
   th:href="@{/orders/createOrder}">
    Objednat
</a>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>