<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <a class="navbar-brand logo-text page-scroll" href="index.html" th:href="@{/index}">
        Woodcami
    </a>
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-5">
            <li class="nav-item"><a class="nav-link page-scroll" href="index.html" th:href="@{/index}">Úvod</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="products.html"
                                    th:href="@{/products}">Produkty</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="#" th:href="@{/make}">Zakázková výroba</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="#" th:href="@{/review}">Recenze</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="#" th:href="@{/contact}">Kontakt</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link page-scroll" href="login.html"
                                                                  th:href="@{/login}">Přihlášení</a></li>
            <li class="nav-item" sec:authorize="hasAuthority('admin')"><a class="nav-link page-scroll" href="index.html"
                                                                          th:href="@{/admin/}">Administrace</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link page-scroll"
                                                                      href="user/index.html"
                                                                      th:href="@{/user/index}"><span
                    th:text="|${#authentication.principal.name} ${#authentication.principal.surname}|">username</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link page-scroll" href="logout.html"
                                                                      th:href="@{/logout}">Odhlásit</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link page-scroll" href="#"
                                                                      th:href="@{/cart/index}">Košík</a></li>
        </ul>
    </div>
</nav>