<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="header">header</div>
<header id="header" class="header">
</header>
<div class="card-header">
    <h3>Přihlášení</h3>
</div>
<div class="card-body">
    <form action="/login" th:action="@{/login}" method="POST">
        <div th:if="${error != null}" class="alert alert-danger">
            <span th:text="${error}">Text</span>
        </div>
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" class="col-sm-2 form-control" placeholder="Uživ. jméno"
               name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="col-sm-2 form-control"
               placeholder="Heslo" name="password" required>
        <button class="col-sm-1 btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Nemáte účet?<a href="register.html" th:href="@{/register}">Registrovat se</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="footer"></div>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>