<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title th:text="|Úprava objednávky ${order.uuid}|">EDIT OF ITEM </title>
</head>
<body>
<div th:replace="admin/header">header</div>
<header id="header" class="header"></header>
<form action="/edit" th:action="@{/admin/orders/editOrder}" method="POST" th:object="${order}">
    <h2>Adresa</h2>
    <div class="form-group row">

        <div class="col-sm-1">Ulice a č.p.:</div>
        <div class="col-sm-4 form-group">
            <!--HTML helper zapis-->
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{user}">
            <input type="text" th:required="required" th:field="*{address.streetNameHouseNum}">
            <!--vypis chyby pri spatne zadanem udaji-->
            <div th:if="${#fields.hasErrors('address.streetNameHouseNum')}" th:errors="*{address.streetNameHouseNum}"
                 class="alert alert-warning" role="alert">
                Chyba!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">Město:</div>
        <div class="col-sm-4 form-group">
            <input type="text" th:required="required" th:field="*{address.city}">
            <div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="alert alert-warning"
                 role="alert">
                Chyba!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">PSČ:</div>
        <div class="col-sm-4 form-group">
            <input type="text" th:required="required" th:field="*{address.postalCode}">
            <div th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"
                 class="alert alert-warning"
                 role="alert">
                Chyba!
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">Zaplaceno:</div>
        <div class="col-sm-4 form-group">
            <input type="checkbox" th:field="${order.paid}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-1">Odesláno:</div>
        <div class="col-sm-4 form-group">
            <input type="checkbox" th:field="${order.fulfilled}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Uložit změny</button>
        </div>
    </div>
</form>


<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>