<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <title>Správa objednávek</title>
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div th:replace="admin/header">header</div>
<header id="header" class="header">
</header>
<div th:if="${param.order_cancel_success != null}" class="alert alert-success" role="alert">
    Objednávka úspěšně zrušena.
</div>
<div th:if="${param.order_cancel_error != null}" class="alert alert-danger" role="alert">
    Objednávku nelze zrušit, již byla odeslána!
</div>
<div th:if="${param.update_success != null}" class="alert alert-success" role="alert">
    Objednávka upravena.
</div>
<form id="searchForm" method="post" th:action="@{/admin/orders/}">
    <div>
        <input type="text" name="searchText" id="searchText" placeholder="Jméno nebo UUID">
        <button class="btn btn-primary" type="submit" name="submit">Hledat</button>
    </div>
</form>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>UUID</th>
        <th>Příjmení</th>
        <th>Jméno</th>
        <th>Datum objednání</th>
        <th>Zaplaceno</th>
        <th>Odesláno</th>
        <th>Datum odeslání</th>
        <th>Cena s DPH</th>
        <th>DPH</th>
        <th>Zrušeno</th>
        <th>Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${orders}">
        <td th:text="${x.uuid}">ID</td>
        <td th:text="${x.user.surname}">prijmeni</td>
        <td th:text="${x.user.name}">jmeno</td>
        <td th:text="${x.orderDate}">datum objednani</td>
        <td><input type="checkbox" th:checked="${x.paid}" onclick="return false"></td>
        <td><input type="checkbox" th:checked="${x.fulfilled}" onclick="return false"></td>
        <td th:text="${x.shipDate}">datum odeslani</td>
        <td th:text="${x.totalPrice}">cena s DPH</td>
        <td th:text="${x.totalTax}">DPH</td>
        <td><input type="checkbox" th:checked="${x.cancelled}" onclick="return false"></td>
        <td>
            <a class="btn btn-primary" href="/Admin/orders/detail" th:href="@{/admin/orders/detail(id=${x.id})}"
               role="button">Detail</a>
            <a class="btn btn-primary" href="/Admin/orders/editOrder" th:unless="${x.cancelled}"
               th:href="@{/admin/orders/editOrder(id=${x.id})}"
               role="button">Upravit</a>
            <a class="btn btn-danger" th:text="Zrušit" th:unless="${x.cancelled}"
               th:href="@{/admin/orders/cancel(id=${x.id})}"
               th:attr="onclick='return confirm(\'' + 'Opravdu chcete zrušit objednávku '+${x.uuid+'?'} + '\');'">Zrušit</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<ul class="pagination">
    <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
        th:each="i: ${#numbers.sequence(1, pages)}"><a
            th:href="@{/admin/orders/index(size=${5}, page=${i})}"
            th:text="${i}" th:class="page-link"></a></li>
</ul>
<script src="/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
<script src="/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>